*.exe
*.exe~
*.dll
*.so
*.dylib
/bin
/dist
/tmp


*.test
*.out
coverage.html
profile.cov

/vendor/

.idea/
*.iml

.vscode/
release/

.DS_Store
*.log
.env
.env.local

node_modules/

.npmrc
mcp-gitee
!cmd/mcp-gitee
!pkg/mcp-gitee
npm/mcp-gitee/README.md
npm/mcp-gitee/LICENSE
!npm/mcp-gitee
mcp-gitee-darwin-amd64
!npm/mcp-gitee-darwin-amd64/
mcp-gitee-darwin-arm64
!npm/mcp-gitee-darwin-arm64
mcp-gitee-linux-amd64
!npm/mcp-gitee-linux-amd64
mcp-gitee-linux-arm64
!npm/mcp-gitee-linux-arm64
mcp-gitee-windows-amd64.exe
mcp-gitee-windows-arm64.exe